@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    /* background:red; */
}
.container{
    width: 100%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 78px calc(100% - 78px);
    /* grid-template-rows: 1fr 7fr; */
    grid-gap: 0 0;
    transition: all .4s ease;
    grid-template-areas: 
    "h2 h1 "
    "h2 h3";
}
.container.active{
    /* */
    grid-template-columns: 240px calc(100% - 240px);
}

.header{
    grid-area: h1;
    height: 80px;
    background-color: salmon;
    transition: all .4s ease;
    width: 100%;
    /* border-radius: -40px;
    border-bottom-left-radius: 40px; */
}
.navigation{
    position: relative;
    grid-area: h2;
    height: 100vh;
    background-color: darksalmon;
    transition: all .4s ease;
}
.block-3{
    grid-area: h3;
    /* height: calc(100vh - 80px); */
    background-color:darkkhaki;
    transition: all .4s ease;
    height: 1000px;
}
.navigation
{
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background-color: #4d5bf9;
    padding: 6px 14px;
    width: 78px;
    transition: all 0.4s ease;  
}
.navigation.active{
    width: 240px;
}
.navigation .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition:all .4s ease;
}
.navigation.active .logo_content .logo{
    opacity: 1;
    pointer-events: none; 
}
.logo_content .logo i{
    font-size: 40px;
    margin-right: 5px;
}
.logo_content .logo .logo-name{
    font-size: 40px;
    font-weight: 500;
}
.navigation #menu-btn{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.navigation.active #menu-btn{
    left: 90%;
}
.nav_list{
    margin-top: 25px;
}
.nav_list li{
    position: relative;
    height: 50px;
    width: 100%;
    /* margin: 0 5px; */
    list-style-type: none;
    line-height: 50px;
}
.nav_list li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.nav_list li a:hover{
    color: #4d5bf9;
    background: #fff;
}
.nav_list li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: cornflowerblue;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}
.nav_list li .bx-search{
    position: absolute;
    z-index: 1001;
    color: #fff;
    font-size: 30px;  
}
.nav_list li .bx-search:hover{
    background: #fff;
    color: cornflowerblue;
}
.nav_list li  i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
}
.nav_list li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0 ,0.2);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.nav_list li:hover .tooltip{
    top: 50%;
    opacity: 1;
    transition: all .4s ease;
}
.nav_list.active li .tooltip{
    display: none;
}
.nav_list .links_name{
    opacity: 0;
    pointer-events: none;
    transition:all .4s ease;
}
.nav_list.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
